{% extends "base.html" %}
{% block title %}Country stats{% endblock %}
{% block scripts %}
{% load static %}
<script src="{% static 'js/country_stats/index.js' %}" defer></script>
{% endblock %}

<div id="content">
  {% block content %}
  <form>
    <fieldset>
      <legend>Choose a country to explore:</legend>
      {% for country in countries %}

      <input type="radio" id="{{country}}" name="country">
      <label for="{{country}}">{{country}}</label><br />

      {% endfor %}
    </fieldset>
  </form>
  {% endblock %}
</div>


<ul>
  {% for country in countries %}
  <li>{{country}}</li>
  {% endfor %}
</ul>